<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reCAPTCHA Test</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="rcp.css">
</head>
<body>
    <div class="container">
        <h2>Are you human?</h2>
        <form action="{% url 'verify_rcp' %}" method="post">
            {% csrf_token %}
            <div class="g-recaptcha" data-sitekey="6LejK4IpAAAAAJva1ThSSGXdiSX4ur_VWApibjSZ"></div>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
